svg {margin-bottom: 50px;}
h1, h3 {font-family: 'Raleway', sans-serif!important;}
p {font-family: 'Open Sans', sans-serif!important;}

.col-border {border: solid 1px lightgray;}
.svg-container {border: solid 4px #999; overflow: hidden;}

/* Tables */
.table {display: table; width: 950px; margin-bottom: 50px;}
.table-title {display: table-caption; text-align: center; font-weight: bold; font-size: larger;}
.table-heading {display: table-row; font-weight: bold; text-align: center;}
.table-row {display: table-row;}
.table-cell {display: table-cell; border: solid; border-width: thin; padding-left: 5px; padding-right: 5px;}

/* Admin */
.admin-nav {background: whitesmoke; border-bottom: solid 1px lightgray; padding: 10px 0; margin-bottom: 20px;}